<swiper-container id="swiper" init="false">
  <swiper-slide (click)="onSelectedImage('/assets/images/image-1.webp')"><div class="slide-custom"><img src="/assets/images/image-1.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-2.webp')"><div class="slide-custom"><img src="/assets/images/image-2.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-3.webp')"><div class="slide-custom"><img src="/assets/images/image-3.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-4.webp')"><div class="slide-custom"><img src="/assets/images/image-4.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-5.webp')"><div class="slide-custom"><img src="/assets/images/image-5.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-6.webp')"><div class="slide-custom"><img src="/assets/images/image-6.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-7.webp')"><div class="slide-custom"><img src="/assets/images/image-7.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-8.webp')"><div class="slide-custom"><img src="/assets/images/image-8.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-9.webp')"><div class="slide-custom"><img src="/assets/images/image-9.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-10.webp')"><div class="slide-custom"><img src="/assets/images/image-10.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-11.webp')"><div class="slide-custom"><img src="/assets/images/image-11.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-12.webp')"><div class="slide-custom"><img src="/assets/images/image-12.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-13.webp')"><div class="slide-custom"><img src="/assets/images/image-13.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-14.webp')"><div class="slide-custom"><img src="/assets/images/image-14.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-15.webp')"><div class="slide-custom"><img src="/assets/images/image-15.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-16.webp')"><div class="slide-custom"><img src="/assets/images/image-16.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-17.webp')"><div class="slide-custom"><img src="/assets/images/image-17.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-18.webp')"><div class="slide-custom"><img src="/assets/images/image-18.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-19.webp')"><div class="slide-custom"><img src="/assets/images/image-19.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-20.webp')"><div class="slide-custom"><img src="/assets/images/image-20.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-21.webp')"><div class="slide-custom"><img src="/assets/images/image-21.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-22.webp')"><div class="slide-custom"><img src="/assets/images/image-22.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-23.webp')"><div class="slide-custom"><img src="/assets/images/image-23.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-24.webp')"><div class="slide-custom"><img src="/assets/images/image-24.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-25.webp')"><div class="slide-custom"><img src="/assets/images/image-25.webp" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('/assets/images/image-26.webp')"><div class="slide-custom"><img src="/assets/images/image-26.webp" alt=""></div></swiper-slide>
</swiper-container>