<swiper-container id="swiper" init="false">
  <swiper-slide (click)="onSelectedImage('1')"><div class="slide-custom"><img src="/assets/images/image.png" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('2')"><div class="slide-custom"><img src="/assets/images/image.png" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('3')"><div class="slide-custom"><img src="/assets/images/image.png" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('4')"><div class="slide-custom"><img src="/assets/images/image.png" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('5')"><div class="slide-custom"><img src="/assets/images/image.png" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('6')"><div class="slide-custom"><img src="/assets/images/image.png" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('7')"><div class="slide-custom"><img src="/assets/images/image.png" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('8')"><div class="slide-custom"><img src="/assets/images/image.png" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('9')"><div class="slide-custom"><img src="/assets/images/image.png" alt=""></div></swiper-slide>
  <swiper-slide (click)="onSelectedImage('10')"><div class="slide-custom"><img src="/assets/images/image.png" alt=""></div></swiper-slide>
</swiper-container>