<swiper-container id="swiper" init="false">
  <swiper-slide><div class="slide-custom"><img src="/assets/images/image.png" alt=""></div></swiper-slide>
  <swiper-slide><div class="slide-custom"><img src="/assets/images/image.png" alt=""></div></swiper-slide>
  <swiper-slide><div class="slide-custom"><img src="/assets/images/image.png" alt=""></div></swiper-slide>
  <swiper-slide><div class="slide-custom"><img src="/assets/images/image.png" alt=""></div></swiper-slide>
  <swiper-slide><div class="slide-custom"><img src="/assets/images/image.png" alt=""></div></swiper-slide>
  <swiper-slide><div class="slide-custom"><img src="/assets/images/image.png" alt=""></div></swiper-slide>
  <swiper-slide><div class="slide-custom"><img src="/assets/images/image.png" alt=""></div></swiper-slide>
  <swiper-slide><div class="slide-custom"><img src="/assets/images/image.png" alt=""></div></swiper-slide>
  <swiper-slide><div class="slide-custom"><img src="/assets/images/image.png" alt=""></div></swiper-slide>
  <swiper-slide><div class="slide-custom"><img src="/assets/images/image.png" alt=""></div></swiper-slide>
</swiper-container>