<div class="body" role="main">
  <div class="container text-center">
    <div class="flex justify-center content-center flex-col items-center px-[20px]">
      <h1 class="text-3xl f-extrabold mb-10 text-primary opacity-80">Do you want to be my friend?</h1>
      <div class="message-content">
        <p *ngIf="showMessage" [@fadeInOut]="currentMessage" class="current-messagge f-semibold">{{ currentMessage }}</p>
        <p *ngIf="!showMessage" [@fadeInOut]="currentMessage" class="current-messagge f-semibold">{{ currentMessage }}</p>
      </div>
    </div>
    <div>
      <custom-swiper (imageSelected)="changeImageSelected($event)"></custom-swiper>
    </div>
  </div>
  <div class="background">
    <img class="blob" [@box1Animation]="blob1" src="./assets/blob-1.svg" alt="">
    <img class="blob" [@box2Animation]="blob2" src="./assets/blob-2.svg" alt="">
    <img class="blob" [@box3Animation]="blob3" src="./assets/blob-3.svg" alt="">
    <img class="clouds" src="./assets/cloud.svg" alt="">
  </div>
</div>
<div class="modal" *ngIf="showModal">
  <div class="backdrop" (click)="showModal = false"></div>
  <div class="modal-content">
    <img [src]="imageSelected" alt="Image">
  </div>
</div>