:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body {
  background-image: linear-gradient(to left bottom, #ff7a7a, #ff9290, #ffa8a6, #ffbebd, #ffd4d3);
  @apply relative h-screen w-screen flex justify-center;
}

.background {
  @apply relative h-screen w-screen opacity-25 overflow-hidden;
}

.content {
  font-family: "Poppins", sans-serif;
  @apply flex m-auto max-w-[1444px] flex-col items-center;
}

.blob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  filter: opacity(0.5) blur(20px);
  width: 100%;
}

.clouds {
  position: absolute;
  bottom: -100px;
  left: 0;

  @media (max-width: 640px) {
    bottom: 0;
    width: 1000px;
  }
}

.container {
  @apply absolute h-screen flex flex-col items-stretch justify-evenly w-full ml-auto mr-auto z-10;
}

.current-messagge {
  @apply absolute top-0 left-0 text-sm leading-7 max-w-[40rem] text-secondary;
  word-spacing: 0.30em;
}

.message-content {
  @apply relative w-[500px];

  @media (max-width: 640px) {
    width: 100%;
  }
}

.modal {
  @apply fixed top-0 left-0 right-0 bottom-0;
  @apply z-20;
  @apply flex items-center justify-center;
  @apply overflow-y-auto;
  @apply overflow-x-hidden;
  @apply p-4;
  @apply w-full h-full;
  background-image: linear-gradient(to left bottom, #ff7a7a, #ff9290, #ffa8a6, #ffbebd, #ffd4d3);
}

.backdrop {
  @apply fixed top-0 left-0 right-0 bottom-0;
  @apply z-30;
  @apply w-full h-full;
  background-color: black;
  opacity: 0.3;
}

.modal-content {
  @apply relative w-full max-w-screen-xl max-h-fit;
  @apply m-auto z-40;
  @apply rounded-lg;
  @apply shadow;
  @apply relative;

  img {
    @apply w-full h-auto object-cover;
  }
}